$product-grid-columns: 5;
$product-grid-gap: 50px;

.product-container {
  display: grid;
  gap: $product-grid-gap;
  justify-items: center;
  grid-template-columns: repeat($product-grid-columns, 1fr);
}
