$nav-item-spacing: 30px;

.navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #0a185c;
  list-style: none;
}

.navbar-left,
.navbar-center,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-center {
  margin-left: 230px;
}

.navbar-right {
  margin-left: auto;
}
