.navbar {
  height: 42px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 120px;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  margin: 30px;

  .navbar-left,
  .navbar-right {
    display: flex;
    align-items: center;
  }

  .navbar-left,
  .navbar-center,
  .navbar-right {
    width: fit-content;
  }

  .navbar-right {
    justify-self: end;
  }
}
