.footer {
  margin-top: auto;

  .footer-items-container {
    margin: 0;
    padding: 0;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0a185c;
    list-style: none;
  }
}
