$primary-color: #0a185c;

.footer {
  flex: 0 0 auto;
  margin-top: auto;
  background-color: $primary-color;

  .footer-items-container {
    margin: 0;
    padding: 0;
    min-height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      padding: 10px;
    }
  }
}
